@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

/*
	Magnetic by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Basic */

	body {
		background-image: url('../../images/bg.jpg');
		background-size: cover;
		-ms-behavior: url('assets/js/ie/backgroundsize.min.htc');
	}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		border: solid 1px _palette(fg-bold) !important;

		&.special {
			border: 0 !important;
		}
	}

/* Form */

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	select {
		line-height: _size(element-height);
	}

/* Banner */

	#banner {
		-ms-behavior: url('assets/js/ie/backgroundsize.min.htc');

		&:before {
  			display: none;
		}

		footer {
			border-top: solid 1px _palette(fg-bold);

			.actions {
				margin-bottom: 0;
			}
		}
	}

/* Footer */

	#footer {
		background: _palette(bg);
	}

/* Menu */

	#menu {
		background: _palette(accent2);

		&:before {
			content: '\00d7';
			cursor: pointer;
			font-size: 3em;
			width: 2em;
			height: 2em;
			line-height: 2em;
		}

		.inner {
			background: _palette(bg);
		}
	}