@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

///
/// Magnetic by Pixelarity
/// pixelarity.com @pixelarity
/// License: pixelarity.com/license
///

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		@include vendor('appearance', 'none');
		@include vendor('transition', 'background-color #{_duration(transition)} ease-in-out, color #{_duration(transition)} ease-in-out');
		display: inline-block;
		background-color: transparent;
		border: 0;
		border-radius: 0;
		box-shadow: inset 0 0 0 1px _palette(fg-bold);
		color: _palette(fg-bold) !important;
		cursor: pointer;
		font-size: 0.75em;
		font-weight: _font(weight-bold);
		height: 4.25em;
		letter-spacing: _size(letter-spacing);
		line-height: 4.35em;
		padding: 0 2.5em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;

		&:hover {
			background-color: transparentize(_palette(fg-bold), 0.9);
			color: _palette(fg-bold) !important;
		}

		&:active {
			background-color: transparentize(_palette(fg-bold), 0.8);
			color: _palette(fg-bold) !important;
		}

		&.icon {
			&:before {
				margin-right: 0.5em;
				color: _palette(fg-light);
			}
		}

		&.fit {
			display: block;
			margin: 0 0 (_size(element-margin) * 0.5) 0;
			width: 100%;
		}

		&.small {
			font-size: 0.65em;
		}

		&.big {
			font-size: 0.9em;
		}

		&.special {
			background-color: _palette(fg-bold);
			box-shadow: none;
			color: _palette(bg) !important;

			&:hover {
				background-color: transparentize(_palette(fg-bold), 0.2);
			}

			&.icon {
				&:before {
					color: _palette(bg);
				}
			}
		}

		&.disabled,
		&:disabled {
			@include vendor('pointer-events', 'none');
			opacity: 0.25;
		}

		@include breakpoint(small) {
			.big {
				font-size: 0.75em;
				line-height: 4.35em;
			}
		}
	}