@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

///
/// Magnetic by Pixelarity
/// pixelarity.com @pixelarity
/// License: pixelarity.com/license
///

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 _size(element-margin) 0;
		padding-left: 1.25em;

		li {
			padding-left: 0.25em;
		}
	}

	ul {
		list-style: disc;
		margin: 0 0 _size(element-margin) 0;
		padding-left: 1em;

		li {
			padding-left: 0.5em;
		}

		&.alt {
			list-style: none;
			padding-left: 0;

			li {
				border-top: solid 1px _palette(border);
				padding: 0.5em 0;

				&:first-child {
					border-top: 0;
					padding-top: 0;
				}
			}
		}

		&.contact {
			list-style: none;
			padding: 0;

			li {
				@include icon;
				padding: 0.65em 0 0 0;

				&:before {
					display: inline-block;
					width: 2.1em;
				}

				&:first-child {
					padding-top: 0;
				}
			}
		}

		&.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;

			li {
				display: inline-block;
				padding: 0 1em 0 0;

				&:last-child {
					padding-right: 0;
				}

				.icon {
					&:before {
						font-size: 1.5em;
					}
				}
			}
		}

		&.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;

			li {
				display: inline-block;
				padding: 0 (_size(element-margin) * 0.75) 0 0;
				vertical-align: middle;

				&:last-child {
					padding-right: 0 !important;
				}
			}

			&.small {
				li {
					padding: 0 (_size(element-margin) * 0.5) 0 0;
				}
			}

			&.vertical {
				li {
					display: block;
					padding: (_size(element-margin) * 0.75) 0 0 0;

					&:first-child {
						padding-top: 0 !important;
					}

					> * {
						margin-bottom: 0;
					}
				}

				&.small {
					li {
						padding: (_size(element-margin) * 0.5) 0 0 0;

						&:first-child {
							padding-top: 0;
						}
					}
				}
			}

			&.fit {
				display: table;
				margin-left: (_size(element-margin) * -0.75);
				padding: 0;
				table-layout: fixed;
				width: calc(100% + #{(_size(element-margin) * 0.75)});

				li {
					display: table-cell;
					padding: 0 0 0 (_size(element-margin) * 0.75);

					> * {
						margin-bottom: 0;
					}
				}

				&.small {
					margin-left: (_size(element-margin) * -0.5);
					width: calc(100% + #{(_size(element-margin) * 0.5)});

					li {
						padding: 0 0 0 (_size(element-margin) * 0.5);
					}
				}
			}

			@include breakpoint(xsmall) {
				li {
					padding: 0 (_size(element-margin) * 0.5) 0 0;
				}

				&.small {
					li {
						padding: 0 (_size(element-margin) * 0.35) 0 0;
					}
				}

				&.vertical {
					li {
						padding: (_size(element-margin) * 0.5) 0 0 0;
					}

					&.small {
						li {
							padding: (_size(element-margin) * 0.35) 0 0 0;
						}
					}
				}

				&.fit {
					margin-left: (_size(element-margin) * -0.5);
					width: calc(100% + #{(_size(element-margin) * 0.5)});

					li {
						padding: 0 0 0 (_size(element-margin) * 0.5);
					}

					&.small {
						margin-left: (_size(element-margin) * -0.35);
						width: calc(100% + #{(_size(element-margin) * 0.35)});

						li {
							padding: 0 0 0 (_size(element-margin) * 0.35);
						}
					}
				}
			}
		}
	}

	dl {
		margin: 0 0 _size(element-margin) 0;

		dt {
			display: block;
			font-weight: _font(weight-bold);
			margin: 0 0 (_size(element-margin) * 0.5) 0;
		}

		dd {
			margin-left: _size(element-margin);
		}
	}