@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

///
/// Magnetic by Pixelarity
/// pixelarity.com @pixelarity
/// License: pixelarity.com/license
///

/* Basic */

	// MSIE: Required for IEMobile.
		@-ms-viewport {
			width: device-width;
		}

	// MSIE: Prevents scrollbar from overlapping content.
		body {
			-ms-overflow-style: scrollbar;
		}

	// Ensures page width is always >=320px.
		@include breakpoint(xsmall) {
			html, body {
				min-width: 320px;
			}
		}

	body {
		background-color:		_palette(bg-alt);
		background-image:		url('images/overlay.png'),	url('../../images/bg.jpg');
		background-size:		100px 100px,				100% auto;
		background-repeat:		repeat,						no-repeat;
		background-attachment:	scroll,						scroll;
		background-position:	top left,					center 0px;

		// Prevents animation/transition "flicker" on page load.
		// Automatically added/removed by js/main.js.
			&.is-loading {
				*, *:before, *:after {
					@include vendor('animation', 'none !important');
					@include vendor('transition', 'none !important');
				}
			}

		@include breakpoint(medium) {
			background-size:	100px 100px,				200% auto;
		}

		@include breakpoint(small) {
			background-image:	none;
		}
	}