@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

///
/// Magnetic by Pixelarity
/// pixelarity.com @pixelarity
/// License: pixelarity.com/license
///

/* Type */

	html {
		font-size: 13pt;

		@include breakpoint(xlarge) {
			font-size: 11pt;
		}

		@include breakpoint(small) {
			font-size: 12pt;
		}

		@include breakpoint(xxsmall) {
			font-size: 11pt;
		}
	}

	body, input, select, textarea {
		color: _palette(fg);
		font-family: _font(family);
		font-weight: _font(weight);
		font-size: 1em;
		line-height: 2;

		@include breakpoint(large) {
			line-height: 1.75;
		}
	}

	a {
		@include vendor('transition', (
			'border-bottom-color #{_duration(transition)} ease',
			'color #{_duration(transition)} ease'
		));
		border-bottom: dotted 1px transparentize(_palette(fg-bold), 0.65);
		color: _palette(fg-bold);
		text-decoration: none;

		&:hover {
			color: _palette(highlight) !important;
			border-bottom-color: transparent;
		}
	}

	strong, b {
		color: _palette(fg-bold);
		font-weight: _font(weight-bold);
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 _size(element-margin) 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: _palette(fg-bold);
		font-weight: _font(weight-bold);
		letter-spacing: _size(letter-spacing);
		line-height: 1.5;
		margin: 0 0 (_size(element-margin) * 0.75) 0;
		text-transform: uppercase;

		a {
			color: inherit;
			text-decoration: none;
		}

		span {
			font-weight: _font(weight);
		}
	}

	h2 {
		font-size: 1.5em;
		margin-bottom: (_size(element-margin) * 0.75);

		&:after {
			content: '';
			display: block;
			position: relative;
			top: 0.75em;
			width: 3em;
			height: 1px;
			background: _palette(fg-bold);
		}
	}

	h3 {
		font-size: 0.9em;
	}

	h4 {
		font-size: 0.8em;
	}

	h5 {
		font-size: 0.8em;
	}

	h6 {
		font-size: 0.8em;
	}

	@include breakpoint(large) {
		h2 {
			font-size: 1.25em;
		}
	}

	@include breakpoint(small) {
		h2 {
			font-size: 1.1em;
		}
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	blockquote {
		border-left: solid 4px _palette(border);
		font-style: italic;
		margin: 0 0 _size(element-margin) 0;
		padding: (_size(element-margin) / 4) 0 (_size(element-margin) / 4) _size(element-margin);
	}

	code {
		background: _palette(border-bg);
		font-family: _font(family-fixed);
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.5em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: _font(family-fixed);
		font-size: 0.9em;
		margin: 0 0 _size(element-margin) 0;

		code {
			display: block;
			line-height: 1.75em;
			padding: 1em 1.5em;
			overflow-x: auto;
		}
	}

	hr {
		border: 0;
		border-bottom: solid 1px _palette(border);
		margin: (_size(element-margin) * 1.5) 0;

		&.major {
			margin: (_size(element-margin) * 2.5) 0;
		}
	}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}