@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

///
/// Magnetic by Pixelarity
/// pixelarity.com @pixelarity
/// License: pixelarity.com/license
///

/* Footer */

	#footer {
		background-color: _palette(bg-transparent);

		.inner {
			@include vendor('display', 'flex');
			@include padding(6em, 0);
			width: _size(inner);
			margin: 0 auto;

			> * {
				width: 25%;
				padding-left: 3em;
			}

			> .about {
				width: 50%;
				padding: 0;
			}
		}

		.copyright {
			@include padding(4em, 0);
			border-top: solid 1px _palette(border);
			text-align: center;

			p {
				font-size: 0.75em;
				letter-spacing: _size(letter-spacing);
				opacity: 0.4;
				text-transform: uppercase;
			}
		}

		@include breakpoint(xlarge) {
			.inner {
				@include padding(4.5em, 0);
			}

			.copyright {
				@include padding(3em, 0);
			}
		}

		@include breakpoint(large) {
			.inner {
				@include padding(3em, 0);
				width: calc(100% - 6em);

				> * {
					padding-left: 2em;
				}
			}

			.copyright {
				@include padding(3em, 0);
			}
		}

		@include breakpoint(medium) {
			.inner {
				@include vendor('flex-wrap', 'wrap');

				> * {
					width: 50%;
					padding-left: 0;
				}

				> .about {
					width: 100%;
					margin: 0 0 1em 0;
				}
			}
		}

		@include breakpoint(small) {
			background-color: darken(_palette(bg), 2);

			.inner {
				@include padding(3em, 1.5em);
				width: 100%;
			}

			.copyright {
				@include padding(3em, 1.5em);
			}
		}

		@include breakpoint(xsmall) {
			.inner {
				> * {
					width: 100%;
					margin: 1em 0 0 0 !important;
				}

				> :first-child {
					margin-top: 0;
				}
			}
		}
	}