@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

///
/// Magnetic by Pixelarity
/// pixelarity.com @pixelarity
/// License: pixelarity.com/license
///

/* Header */

	body {
		padding-top: 3.25em;
	}

	#header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 3.25em;
		background: _palette(fg-bold);
		color: _palette(bg);
		line-height: 3.25em;
		z-index: _misc(z-index-base);

		h1 {
			position: absolute;
			top: 1;
			left: 1.5em;
			height: inherit;
			color: inherit;
			font-size: 0.9em;
			line-height: inherit;
			margin: 0;

			a {
				display: block;
				height: inherit;
				line-height: inherit;

				&:hover {
					color: inherit !important;
				}
			}
		}

		nav {
			position: absolute;
			top: 0;
			right: 0.5em;

			a {
				@include icon;
				display: inline-block;
				height: inherit;
				line-height: inherit;
				border: 0;
				color: inherit;
				font-size: 0.9em;
				font-weight: _font(weight-bold);
				letter-spacing: _size(letter-spacing);
				padding: 0 1em;
				text-transform: uppercase;

				&:before {
					margin-right: 0.5em;
					opacity: 0.25;
				}

				&[href="#menu"] {
					-webkit-tap-highlight-color: rgba(0,0,0,0);

					&:before {
						content: '\f0c9';
					}
				}

				&:hover {
					color: inherit !important;
				}
			}
		}
	}

	@include breakpoint(small) {
		body {
			padding-top: 2.5em;

			#header {
				height: 2.5em;
				line-height: 2.65em;

				h1 {
					left: 1em;
					font-size: 0.8em;

					span {
						display: none;
					}
				}

				nav {
					right: 0;

					a {
						&[href="#menu"] {
							width: 6em;
							height: 4em;
							text-indent: 6em;
							overflow: hidden;
							white-space: nowrap;

							&:before {
								display: block;
								position: absolute;
								top: 0;
								right: 0;
								width: 3em;
								height: 2.5em;
								margin: 0;
								text-indent: 0;
								text-align: center;
							}
						}
					}
				}
			}
		}
	}